.fixed-col {
    position: sticky; /* Makes col-2 stick to the viewport */
    top: 0;          /* Starts sticking at the top of the page */
    height: 100vh;   /* Ensure it spans the full viewport height */
    overflow-y: auto; /* Add scrolling within col-2 if needed */
  }

.fixed-nav {
    z-index: 1030; /* Ensure it stays on top */
    padding: 16px 0; /* Adds vertical spacing like my-3 */
    /* top: 16px; */
 }

.content {
    overflow-y: scroll; /*Makes col-10 content scrollable */
}
  