<div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <img src="your-image-url.jpg" class="img-fluid" alt="Image">
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-12">
            <h2>Greeting Message</h2>
          </div>
          <div class="col-12">
            <p>Details go here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="col-12">
            <button type="button" class="btn btn-primary me-2">Button 1</button>
            <button type="button" class="btn btn-secondary">Button 2</button>
          </div>
        </div>
      </div>
    </div>
  </div>

 

    
  
